{% extends 'main.html' %}

{% block content %}
    <div class="container" style="padding-top:40px;">
        <h1>Add Student</h1>
        <form class="row g-3" method=POST action="{% url 'add' %}">
            {% csrf_token %}
            <div class="col-12">
                <img class="rounded-circle" width="128" height="128" src="https://img.icons8.com/cotton/512/000000/gender-neutral-user--v2.png" alt="gender-neutral-user--v2"/>
            </div>
            <div class="col-6">
                <label for="up_pic" class="form-lable">Profile Picture</label>
                <input class="form-control" type="file" id="up_pic" multiple>
            </div>
            <div class="col-12">
                <label for="std_id" class="form-lable">Student_ID:</label>
                <input type="text" class="form-control" id="std_id" value="{{up_obj.std_ID}}" placeholder="00012025" name="std_ID">
            </div>
            <div class="col">
                <label for="f_name" class="form-lable">First Name:</label>
                <input type="text" class="form-control" id="f_name" aria-label="First Name" value="{{up_obj.std_fname}}"  name="std_fname">
            </div>
            <div class="col">
                <label for="l_name" class="form-lable">Last Name:</label>
                <input type="text" class="form-control" id="l_name" aria-label="Last Name"value="{{up_obj.std_lname}}"  name="std_lname">
            </div>
            <div class="col-12">
                <label for="bod" class="form-lable">Birth of day:</label>
                <input type="date" class="form-control" id="bod" value="{{up_obj.std_bod|date:'Y-m-d'}}" name="std_bod">
            </div>
            <div class="col-12">
                <label for="email_" class="form-lable">E-mail:</label>
                <input type="email" class="form-control" id="email_" aria-label="E-mail" value="{{up_obj.std_email}}" name="std_email">
            </div>
            <div class="col-12">
                <label for="p_num" class="form-lable">Phone Number:</label>
                <input type="tel" class="form-control" id="p_num" value="{{up_obj.std_pnum}}" name="std_pnum">
            </div>
            <div class="col-12">
                <label for="nic" class="form-lable">NIC:</label>
                <input type="text" class="form-control" id="nic" value="{{up_obj.std_nic}}" name="std_nic">
            </div>
            <div class="col-12" style="padding-top: 30px; padding-bottom:60px;">
                <button type="submit" class="btn btn-primary"> Save </button>
            </div>
        </form>
    </div>
{% endblock %}