{% extends 'main.html' %}

{% block content %}

    <div class="container t_head" >
        <h1>{{ table_name }}</h1>
    </div>

    <hr class="hr container"/>

    <div class="row">

        <div class="t_table ">
            <table class="container table table-hover table-responsive table-dark">
                    <thead>
                        <tr>
                            {% for fil in f_det %}
                            <th scope="col">{{ fil.verbose_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    
                    <tbody class="table-group-divider">
                        {% for std in std_det %}

                        <tr>
                            {% for i in std %}
                                 <th>{{ i }}</th>
                            {% endfor %}


                            <th>
                                <div class="btn-group btn-group-sm" role="group">
                                    {% if table_name in tableArray_eb %}
                                        <button type="button" class="btn btn-outline-success">Enroll</button>
                                    {% endif %}
                                    {% if table_name in tableArray_ub %}
                                        <a class="btn btn-outline-warning" href="{% url 'update' table_name std.0 %}" >Update</a>
                                    {% endif %}
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delemodel" >Delete</button>
                                </div>

                                <div id="delemodel" class="modal fade text-dark " tabindex="-1" role="dialog" >
                                    <div class="modal-dialog ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Warning!</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you Want to delete?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a type="button" class="btn btn-danger" href="{% url 'delete' table_name std.0 %}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
            </table>
        </div>
    </div>
{% endblock %}